In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.3.3)
Requirement already satisfied: numpy>=1.15 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.21.2)
Requirement already satisfied: requests>=2.20 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.26.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp39-cp39-win_amd64.whl (3.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\runr4\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.20->yfinance) (2021.10.8)
Using legacy 'setup.py install' for yfinance, since package 'wheel' is not installed.
Using legacy 'setup.py install' for multitasking, since package 'wheel' is not installed.
Installing collected packages: multitasking, lxml, yfinance
    Running setup.py install for multitasking: started
    Running setup.py install for multitasking: finished with status 'done'
    Running setup.py install for yfinance: started
    Running setup.py install for yfinance: finished with status 'done'
Successfully installed lxml-4.6.3 multitasking-0.0.9 yfinance-0.1.63

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [4]:
aapl = yf.Ticker('AAPL')

In [23]:
days = 50
history = aapl.history(period=f'{days}d')
history.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-30,144.164003,146.111083,143.894403,145.641785,70382000,0.0,0
2021-08-02,146.141047,146.730161,145.032707,145.302307,62880000,0.0,0
2021-08-03,145.591857,147.818517,144.962795,147.139542,64786600,0.0,0

In [24]:
history.index

DatetimeIndex(['2021-07-30', '2021-08-02', '2021-08-03', '2021-08-04',
               '2021-08-05', '2021-08-06', '2021-08-09', '2021-08-10',
               '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-16',
               '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20',
               '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26',
               '2021-08-27', '2021-08-30', '2021-08-31', '2021-09-01',
               '2021-09-02', '2021-09-03', '2021-09-07', '2021-09-08',
               '2021-09-09', '2021-09-10', '2021-09-13', '2021-09-14',
               '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-20',
               '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-24',
               '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-04', '2021-10-05', '2021-10-06',
               '2021-10-07', '2021-10-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [25]:
history.index = history.index.strftime('%d %B %Y')
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
30 July 2021,144.164003,146.111083,143.894403,145.641785,70382000,0.0,0
02 August 2021,146.141047,146.730161,145.032707,145.302307,62880000,0.0,0
03 August 2021,145.591857,147.818517,144.962795,147.139542,64786600,0.0,0
04 August 2021,147.049692,147.568903,146.061168,146.730164,56368300,0.0,0
05 August 2021,146.760114,147.618828,145.951328,146.839996,46397700,0.0,0

In [27]:
history = history[['Close']]
history.columns = ['apple']
history.head()

                     apple
Date
30 July 2021    145.641785
02 August 2021  145.302307
03 August 2021  147.139542
04 August 2021  146.730164
05 August 2021  146.839996

In [28]:
history = history.T
history

Date,30 July 2021,02 August 2021,03 August 2021,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,...,27 September 2021,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021
apple,145.641785,145.302307,147.139542,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,...,145.369995,141.910004,142.830002,141.5,142.649994,139.139999,141.110001,142.0,143.289993,142.899994

In [29]:
history.index.name = 'Name'

In [30]:
history

Date,30 July 2021,02 August 2021,03 August 2021,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,...,27 September 2021,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,145.641785,145.302307,147.139542,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,...,145.369995,141.910004,142.830002,141.5,142.649994,139.139999,141.110001,142.0,143.289993,142.899994

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

days = 50
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        history = tkr.history(period=f'{days}d')
        history.index = history.index.strftime('%d %B %Y')
        history = history[['Close']]
        history.columns = [company]
        history = history.T
        history.index.name = 'Name'
        df = pd.concat([df,history])
    return df
df = get_data(days, tickers)

In [7]:
import altair as alt
df

Date,30 July 2021,02 August 2021,03 August 2021,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,...,27 September 2021,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,145.641785,145.302307,147.139542,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,...,145.369995,141.910004,142.830002,141.500000,142.649994,139.139999,141.110001,142.000000,143.289993,142.899994
facebook,356.299988,351.950012,351.239990,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,...,353.579987,340.649994,339.609985,339.390015,343.010010,326.230011,332.959991,333.640015,329.220001,330.049988
google,2694.530029,2697.090088,2712.600098,2702.510010,2725.030029,2714.770020,2738.260010,2736.139893,2725.580078,2743.879883,...,2821.439941,2716.600098,2687.070068,2673.520020,2730.860107,2673.189941,2720.459961,2751.300049,2784.500000,2795.709961
microsoft,284.365601,284.275787,286.571381,285.962555,288.966797,288.906921,287.779053,285.892700,286.401733,289.256256,...,294.170013,283.519989,284.000000,281.920013,289.100006,283.109985,288.760010,293.109985,294.850006,294.850006
netflix,517.570007,515.150024,510.820007,517.349976,524.890015,520.549988,519.969971,515.840027,512.400024,510.720001,...,592.640015,583.849976,599.059998,610.340027,613.150024,603.349976,634.809998,639.099976,631.849976,632.659973
amazon,3327.590088,3331.479980,3366.239990,3354.719971,3375.989990,3344.939941,3341.870117,3320.679932,3292.110107,3303.500000,...,3405.800049,3315.959961,3301.120117,3285.040039,3283.260010,3189.780029,3221.000000,3262.010010,3302.429932,3288.620117

In [8]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,30 July 2021,02 August 2021,03 August 2021,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,...,27 September 2021,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,145.641785,145.302307,147.139542,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,...,145.369995,141.910004,142.830002,141.500000,142.649994,139.139999,141.110001,142.000000,143.289993,142.899994
facebook,356.299988,351.950012,351.239990,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,...,353.579987,340.649994,339.609985,339.390015,343.010010,326.230011,332.959991,333.640015,329.220001,330.049988

In [9]:
data.sort_index()

Date,30 July 2021,02 August 2021,03 August 2021,04 August 2021,05 August 2021,06 August 2021,09 August 2021,10 August 2021,11 August 2021,12 August 2021,...,27 September 2021,28 September 2021,29 September 2021,30 September 2021,01 October 2021,04 October 2021,05 October 2021,06 October 2021,07 October 2021,08 October 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,145.641785,145.302307,147.139542,146.730164,146.839996,146.139999,146.089996,145.600006,145.860001,148.889999,...,145.369995,141.910004,142.830002,141.500000,142.649994,139.139999,141.110001,142.000000,143.289993,142.899994
facebook,356.299988,351.950012,351.239990,358.920013,362.970001,363.510010,361.609985,361.130005,359.959991,362.649994,...,353.579987,340.649994,339.609985,339.390015,343.010010,326.230011,332.959991,333.640015,329.220001,330.049988

In [13]:
data = data.T.reset_index()
data.head()

Name            Date       apple    facebook
0       30 July 2021  145.641785  356.299988
1     02 August 2021  145.302307  351.950012
2     03 August 2021  147.139542  351.239990
3     04 August 2021  146.730164  358.920013
4     05 August 2021  146.839996  362.970001

In [14]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

               Date      Name  Stock Prices(USD)
0      30 July 2021     apple         145.641785
1    02 August 2021     apple         145.302307
2    03 August 2021     apple         147.139542
3    04 August 2021     apple         146.730164
4    05 August 2021     apple         146.839996
..              ...       ...                ...
95  04 October 2021  facebook         326.230011
96  05 October 2021  facebook         332.959991
97  06 October 2021  facebook         333.640015
98  07 October 2021  facebook         329.220001
99  08 October 2021  facebook         330.049988

[100 rows x 3 columns]

In [22]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None),
        color='Name:N'
    )
)
chart

alt.Chart(...)